/Kotacs.Libraries.SOA.Contracts.Data/bin/Debug/Microsoft.Web.Infrastructure.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Debug/System.Web.Mvc.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Debug/System.Web.Razor.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Debug/System.Web.WebPages.Deployment.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Debug/System.Web.WebPages.Razor.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Debug/System.Web.WebPages.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/Kotacs.Libraries.SOA.Contracts.Data.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/Kotacs.Libraries.SOA.Contracts.Data.pdb
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/Microsoft.Web.Infrastructure.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/System.Web.Mvc.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/System.Web.Razor.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/System.Web.WebPages.Deployment.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/System.Web.WebPages.Razor.dll
/Kotacs.Libraries.SOA.Contracts.Data/bin/Release/System.Web.WebPages.dll
/Kotacs.Libraries.SOA.Contracts.Data/obj/Debug/Kotacs.Libraries.SOA.Contracts.Data.csproj.CopyComplete
/Kotacs.Libraries.SOA.Contracts.Data/obj/Debug/Kotacs.Libraries.SOA.Contracts.Data.csprojAssemblyReference.cache
/Kotacs.Libraries.SOA.Contracts.Data/obj/Release/Kotacs.Libraries.SOA.Contracts.Data.ModelErrors.resources
/Kotacs.Libraries.SOA.Contracts.Data/obj/Release/Kotacs.Libraries.SOA.Contracts.Data.csproj.CopyComplete
/Kotacs.Libraries.SOA.Contracts.Data/obj/Release/Kotacs.Libraries.SOA.Contracts.Data.csproj.FileListAbsolute.txt
/Kotacs.Libraries.SOA.Contracts.Data/obj/Release/Kotacs.Libraries.SOA.Contracts.Data.csproj.GenerateResource.cache
/Kotacs.Libraries.SOA.Contracts.Data/obj/Release/Kotacs.Libraries.SOA.Contracts.Data.dll
/Kotacs.Libraries.SOA.Contracts.Data/obj/Release/Kotacs.Libraries.SOA.Contracts.Data.pdb
