@model Kotacs.Libraries.SOA.Contracts.Data.Customer

@{
    ViewBag.Title = "SaveCustomer";
}

<h2>Congrats</h2>
Your profile is registered 
<div>
@Html.ActionLink("< Home","index","Customer")
</div>
